{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "no-console": "off",
        "no-unused-vars": "off"
    },
    "overrides": [
        {
            "files": ["*.config.js"],
            "env": {
                "node": true
            }
        }
    ]
}
