{
    "endOfLine": "lf",
    "printWidth": 100,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "overrides": [
        { "files": "*.md", "options": { "parser": "markdown-nocjsp" } },
        { "files": "*.mdx", "options": { "parser": "mdx-nocjsp" } }
    ]
}
