/* ==UserStyle==
@name           Google Selectable Lyrics
@namespace      mizle.net
@version        1.2.0
@description    Lyrics be selectable.
@author         Eai
@license        MIT
@preprocessor   stylus
==/UserStyle== */
@-moz-document url-prefix("https://www.google.com/search?") {
    g-expandable-content,
    div[data-lyricid],
    div[data-lyricid] + div,
    div[id$="lyrics"] div {
        user-select: unset !important;
    }
}
