/* ==UserStyle==
@name           Mastodon プライバシーに配慮するやつ
@namespace      mizle.net
@version        1.0.3
@description    スクショ取るときに使ったりすると良い
@author         Eai
@license        MIT
@preprocessor   stylus
==/UserStyle== */
@-moz-document regexp("https://.+/web/.+") {
    :root {
        --text-color: transparent;
        --bg-color: #606984;
    }

    .emojione,
    .muted .emojione {
        opacity: 0;
    }

    .status__avatar,
    .account__wrapper {

        .account__avatar,
        .account__avatar-overlay div {
            background-color: var(--bg-color);
            filter: contrast(0) brightness(.75);
        }
    }

    .status__wrapper {
        .status__prepend > span {
            color: var(--text-color) !important;
            background-color: var(--bg-color);

            .status__display-name strong {
                color: var(--text-color);
            }
        }

        .status {
            .status__info {
                .display-name {
                    text-overflow: unset;
                }

                .display-name strong,
                .display-name__account,
                time {
                    color: var(--text-color);
                    background-color: var(--bg-color);
                }
            }

            .status__content {

                p,
                a,
                .fa {
                    color: var(--text-color);
                    background-color: var(--bg-color);
                }
            }

            .media-gallery,
            .status-card.compact {
                background-color: var(--bg-color);
                filter: contrast(0) brightness(.75);
            }
        }

        .attachment-list.compact {

            a,
            .fa {
                color: var(--text-color);
                background-color: var(--bg-color);
            }
        }
    }

    .notification {
        .notification__message span a {
            color: var(--text-color);
            background-color: var(--bg-color);
        }

        .account {
            .display-name {

                strong,
                span {
                    color: var(--text-color);
                    background-color: var(--bg-color);
                }
            }
        }
    }

    .conversation {
        .conversation__avatar .account__avatar-composite div {
            background-color: var(--bg-color);
            filter: contrast(0) brightness(.75);
        }

        .conversation__content {
            .conversation__content__names {
                text-overflow: unset;
            }

            .conversation__content__names *,
            .status__content__text p,
            .status__content__text p a,
            time {
                color: var(--text-color);
                background-color: var(--bg-color);
            }
        }
    }
}
