/* ==UserStyle==
@name           No more MS Gothic
@namespace      mizle.net
@version        1.0.0
@author         Eai
@license        MIT
@preprocessor   stylus
==/UserStyle== */

@-moz-document regexp("http[s]?://.+") {
    @font-face {
        font-family: "MS PGothic";
        src: local("Meiryo");
    }

    @font-face {
        font-family: "ＭＳ Ｐゴシック";
        src: local("Meiryo");
    }

    @font-face {
        font-family: "MS Pゴシック";
        src: local("Meiryo");
    }

    @font-face {
        font-family: "MS UI Gothic";
        src: local('Meiryo UI');
    }

    @font-face {
        font-family: "ＭＳ ゴシック";
        src: local("Meiryo");
    }

    @font-face {
        font-family: "MS ゴシック";
        src: local("Meiryo");
    }

    @font-face {
        font-family: "MS Gothic";
        src: local("Meiryo");
    }
}
