/* 以下をViolentmonkeyの設定 -> 高度な設定 -> カスタムスタイル に貼り付けてください */

.script {
    display: flex;
    margin: 0;
    padding: 0 10px;
    border: none;
    border-radius: 0;
}

.script-icon {
    --icon-size: 1.8em;
    position: relative;
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    top: unset;
    margin: auto;
    margin-right: .25em;
}

.script-icon ~ * {
    margin: 0;
}

.script-info {
    width: 100%;
    order: 1;
}

.script-buttons {
    order: 3;
    min-width: calc(30px * 6 + 15px + 30px);
}
