/* 以下をViolentmonkeyの設定 -> 高度な設定 -> カスタムスタイル に貼り付けてください */

.script {
    display: flex;
    margin: 0;
    padding: 0 10px;
    border: none;
    border-radius: 0;
}

.script-icon {
    --icon-size: 1.8em;
    position: relative;
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    top: unset;
    margin: auto;
    margin-right: 0.25em;
}

.script-icon ~ * {
    margin: 0;
}

.script-info {
    width: 100%;
    order: 1;
}

.script-buttons {
    order: 3;
    min-width: calc(30px * 6 + 15px + 30px);
}

.script-message {
    white-space: nowrap;
    position: absolute;
    left: 40%;
    background: #ffffff;
    border-radius: 3px;
    padding: 3px;
    font-size: 90%;
}

.script-message:empty {
    padding: 0;
}

.vl-tooltip-bottom > .vl-tooltip-wrap {
    right: -15px;
}

.vl-tooltip-content {
    position: absolute;
    right: 0;
}
