/* 以下をViolentmonkeyの設定 -> 高度な設定 -> カスタムスタイル に貼り付けてください */

.script {
    display: flex;
    height: auto;
    padding: 0 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.script.removed {
    padding-bottom: unset;
}

.script.disabled,
.script.removed {
    background: unset;
}

.script:hover {
    background: #e6e6e6;
}

.script-icon {
    --icon-size: 1.8em;
    position: relative;
    top: unset;
    width: var(--icon-size);
    min-width: var(--icon-size);
    height: var(--icon-size);
    min-height: var(--icon-size);
    margin: auto;
    margin-right: 0.25em;
}

.script-icon ~ * {
    margin: 0;
}

.script-info {
    order: 1;
    width: 100%;
}

.script-buttons {
    order: 3;
    min-width: calc(30px * 6 + 15px + 30px);
}

.script-message {
    position: absolute;
    left: 40%;
    padding: 3px;
    font-size: 90%;
    white-space: nowrap;
    background: #ffffff;
    border-radius: 3px;
}

.script-message:empty {
    padding: 0;
}

.vl-tooltip-bottom.vl-tooltip-align-start > .vl-tooltip-wrap,
.vl-tooltip-top.vl-tooltip-align-start > .vl-tooltip-wrap {
    right: 0;
    margin: unset;
    margin-right: -10px;
    text-align: right;
}
