/* ==UserStyle==
@name           youtube.com - Subtitle Position
@namespace      mizle.net
@version        1.0.0
@description    字幕の初期位置を調節する
@author         Eai
@license        MIT
@preprocessor   stylus
@var            text      top    "Top" 0
@var            text      bottom "Bottom" 8%
@var            text      left   "Left" 0
@var            text      right  "Right" 0
==/UserStyle== */
@-moz-document url-prefix("https://www.youtube.com/watch") {

    /* "left: 50%": 位置情報が指定されていないタイプの字幕 */
    .caption-window.ytp-caption-window-bottom[style*='left: 50%'] {
        if top {
            top: top !important;
        }

        if bottom {
            bottom: bottom !important;
        }

        if left {
            left: left !important;
        }

        if right {
            right: right !important;
        }
    }
}
