/* ==UserStyle==
@name           last-origin.com | Better News
@namespace      mizle.net
@version        1.0.0
@description    ラストオリジン公式サイトのニュースをPCで見やすくします
@author         Eai
@license        MIT
@preprocessor   stylus
==/UserStyle== */
@-moz-document url-prefix("https://www.last-origin.com/news_view.html") {
    .container {
        height: auto;
        background: unset;
    }

    .contents_wrap {
        margin-bottom: unset;
    }

    .news_viewer {
        overflow: auto;
    }

    .popup_news_wrap, .popup_news, .news_viewer {
        position: relative;
    }
} // www.last-origin.com/news_view.html") {
