/* ==UserStyle==
@name           YouTube | Clean video menu
@namespace      mizle.net
@version        1.0.0
@author         Eai
@license        MIT
@preprocessor   stylus
==/UserStyle== */
@-moz-document url-prefix("https://www.youtube.com/watch?v=") {

    /* remove default gap */
    ytd-menu-renderer:not([condensed]) .ytd-menu-renderer[button-renderer] + .ytd-menu-renderer[button-renderer] {
        margin-left: 0px;
    }

    #menu.ytd-video-primary-info-renderer {
        top: unset;
    }

    ytd-video-primary-info-renderer ytd-menu-renderer {
        --gap: 4px;
        gap: var(--gap);

        > div {
            gap: var(--gap);
        }

        ytd-button-renderer,
        ytd-toggle-button-renderer,
        ytd-download-button-renderer {
            > a {
                padding-right: 0 !important;
            }

            yt-formatted-string {
                font-size: 0 !important;
                letter-spacing: 0;
            }
        }

        > yt-icon-button {
            width: unset !important;
            height: unset !important;
            margin: 0 !important;

            yt-icon {
                padding: 6px;
            }
        }
    }
}
